html {
	font-range: map(breakpoints, small, max) map(breakpoints, large, max);
}
p,time,li,dd,button {
	font-size: responsive 14px 18px;
	line-height: 3rem;
}
h1 {
	font-size: responsive 40px 60px
}
h2 {
	font-size: responsive 30px 40px
}
h3 {
	font-size: responsive 24px 30px
}
h4 {
	font-size: responsive 20px 24px
}
h5 {
	font-size: responsive 18px 20px
}
h6 {
	font-size: responsive 14px 18px
}
