@mixin font($min: 14, $max: 18, $lineheight: 24) {
	$from: $min + px;
	$to: $max + px;
	$min_width: map(breakpoints, small, max);
	$max_width: map(breakpoints, large, max);
	content: $min_width;
	font-size: responsive $(from) $(to);
	line-height: ($lineheight / $max);
	font-range: $(min_width) $(max_width);
}


@mixin breakpoint($breakpoint: small, $orientation: none) {
	$mq: '';
	@if $breakpoint == small {
		$mq: ( min-width: map(breakpoints, small, min) ) and ( max-width: map(breakpoints, small, max) );
	}
	@if $breakpoint == medium {
		$mq: ( min-width: map(breakpoints, medium, min) ) and ( max-width: map(breakpoints, medium, max) );
	}
	@if $breakpoint == large {
		$mq: ( min-width: map(breakpoints, large, min) ) and ( max-width: map(breakpoints, large, max) );
	}
	@if $breakpoint == xlarge {
		$mq: ( min-width: map(breakpoints, xlarge, min) ) and ( max-width: map(breakpoints, xlarge, max) );
	}

	$query: $mq;

	@if $orientation == portrait {
		$query: $mq and (orientation: portrait);
	}
	@if $orientation == landscape {
		$query: $mq and (orientation: landscape);
	}

	@media $(query) {
		@content;
	}
}
