/* Variables */
$nav-trigger-color: #000;
$nav-trigger-active-color: #fff;
$nav-trigger-focus-color: darken(#fff, 60%);
$nav-trigger-height: 50px;
$nav-trigger-width: 50px;
$nav-trigger-line-width: 40px;
$nav-trigger-line-height: 3px;

/* Mixins */
@mixin nav-lines {
	display: block;
	text-indent: -99999px;
	height: $nav-trigger-line-height;
	width: $nav-trigger-line-width;
	background-color: $nav-trigger-color;
	position: absolute;
	left: 50%;
	margin-left: calc(-($nav-trigger-line-width/2));
	transition: all .3s ease;
	transform-origin: 0 0;
	&:before {
		content: ' ';
		height: $nav-trigger-line-height;
		width: $nav-trigger-line-width;
		background-color: $nav-trigger-color;
		position: absolute;
		left: 0;
		display: block;
		right: 0;
		top: calc(0 - ($nav-trigger-line-height * 3));
		transition: all .5s ease;
		transition-property: transform top;
	}
	&:after {
		content: ' ';
		height: $nav-trigger-line-height;
		width: $nav-trigger-line-width;
		background-color: $nav-trigger-color;
		position: absolute;
		left: 0;
		display: block;
		right: 0;
		bottom: calc(0 - ($nav-trigger-line-height * 3))px;
		transition: all .5s ease;
		transition-property: transform top;
	}
}

/* Rules */
.nav-trigger {
	position: fixed 20px auto auto;
	span.nav-lines {
		@include nav-lines;
	}
}
