/* Global imports */
@import 'global/variables.scss';
@import 'global/aliases.scss';
@import 'global/mixins.scss';

/* Components */
@import 'components/type.scss';
@import 'components/navigation.scss';

.container {
	lost-utility: clearfix;
	lost-center: 980px;
	.item {
		lost-waffle: 1/3;
		color: $color;
	}
}
