// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.thumbnail {
	line-height: 1.9;
}

// Captions
.wp-caption {
	margin-left: 0;
	margin-right: 0;
	@extend .thumbnail;
}

// Media alignment
.alignnone {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}
.aligncenter {
	display: block;
	margin: ($grid-column-gutter / 2) auto;
}
.alignleft,
.alignright {
	margin-bottom: ($grid-column-gutter / 2);
}
@include breakpoint(small) {
	// Only float if not on an extra small device
	.alignleft {
		float: left;
		margin-right: ($grid-column-gutter / 2);
	}
	.alignright {
		float: right;
		margin-left: ($grid-column-gutter / 2);
	}
}
.wp-caption-text {
	padding: ($grid-column-gutter / 2);
}

// Text meant only for screen readers
.screen-reader-text {
	@extend .sr-only;
	@extend .sr-only-focusable;
}
