/*
 * Font Mixin
 */
@mixin font($fontsize: 16, $lineheight: 24, $basefontsize: 16) {
	font-size: $fontsize + px;
	font-size: ($fontsize / $basefontsize) + rem;
	line-height: ($lineheight / $fontsize);
}

/*
 * Font Face Mixin
 */
@mixin font-face($style-name, $file, $family, $category:"", $weight: normal, $style: normal, $font-path: '../fonts/') {
	$filepath: $font-path + $family + "/" + $file;
	@font-face {
		font-family: "#{$style-name}";
		src: url($filepath + ".eot");
		src:    url($filepath + ".eot?#iefix") format('embedded-opentype'),
				url($filepath + ".woff") format('woff'),
				url($filepath + ".ttf")  format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}

/*
 * Multiple Breakpoints Mixin
 */
@mixin bp($breakpoints...) {

	@each $bp in $breakpoints {
		$index: str-index($bp, '+');
		@if($index) {
			$variation: str-slice($bp, 1, $index - 1);
			$bp: str-slice($bp, $index + 1);
			@include breakpoint($bp) {
				@include breakpoint($variation) {
					@content;
				}
			}
		} @else {
			@include breakpoint($bp) {
				@content;
			}
		}
	}
}

/*
 * HTML5 Placeholder Mixin
 */
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}
}
