/*
 * Font Mixin
 */
$basefontsize: 16;
$basepadd: 15;
$baselineheight: 24;

@mixin font($fontsize: 16, $lineheight: 24) {
	font-size: $fontsize + px;
	font-size: ($fontsize / $basefontsize) + rem;
	line-height: ($lineheight / $fontsize);
}

/*
 * Font Face Mixin
 */
$font-path: '../fonts/';

@mixin font-face($style-name, $file, $family, $category:"", $weight: normal, $style: normal) {
	$filepath: $font-path + $family + "/" + $file;
	@font-face {
		font-family: "#{$style-name}";
		src: url($filepath + ".eot");
		src:    url($filepath + ".eot?#iefix") format('embedded-opentype'),
				url($filepath + ".woff") format('woff'),
				url($filepath + ".ttf")  format('truetype');
		font-weight: $weight;
		font-style: $style;
	}
}
/*
 * HTML5 Placeholder Mixin
 */
@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}
}
