// Nav Container: Variables
$nav-container-width: 		320;
$nav-container-base: 		#000;
$nav-container-gutter: 		40;
$nav-container-spacing: 	80;
$nav-container-position:	right;
$nav-container-duration:  	.5s;
$nav-container-easing:  	ease;

// Nav Container: Position Mixin
@mixin nav-position {
	position: fixed;
	@include transition( $nav-container-position $nav-container-duration $nav-container-easing );
	@if($nav-container-position == left) {
		width: rem-calc($nav-container-width);
		left: rem-calc(0 - $nav-container-width);
		top: 0;
		bottom: 0;
		.nav-open & {
			left: 0;
		}
	}
	@else if($nav-container-position == right) {
		width: rem-calc($nav-container-width);
		right: rem-calc(0 - $nav-container-width);
		top: 0;
		bottom: 0;
		.nav-open & {
			right: 0;
		}
	}

}

// Nav Container: Styles
div.nav-container {
	@include nav-position;
	background-color: $nav-container-base;
	nav.nav-primary {
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		top: rem-calc($nav-container-spacing/2);
		bottom: rem-calc($nav-container-spacing/2);
		left: rem-calc($nav-container-gutter/2);
		right: rem-calc($nav-container-gutter/2);
		ul {
			list-style: none;
			margin: 0;
			li {
				a {
					color: #fff;
					@include font(18, 24);
					&:hover, &:focus {
						font-weight: bold;
					}
				}
				&.active > a {
					font-weight: bold;
				}
			}
		}
	}
}

// Nav Trigger: Variables
$nav-trigger-line-width: 3;
$nav-trigger-color: #000;
$nav-trigger-active-color: #000;

// Nav Trigger: Lines Mixin
@mixin nav-lines {
	display: block;
	text-indent: -99999px;
	height: rem-calc($nav-trigger-line-width);
	background-color: $nav-trigger-color;
	position: relative;
	&:before {
		content: ' ';
		height: rem-calc($nav-trigger-line-width);
		background-color: $nav-trigger-color;
		position: absolute;
		left: 0;
		display: block;
		right: 0;
		top: rem-calc(0 - ($nav-trigger-line-width * 3));
	}
}

// Nav Trigger: Styles
button.nav-trigger {
	span.nav-lines {
		@include nav-lines;
	}
}
